.main {
  height: 600px;
}

h1 {
  color: black;
  font-size: 70px;
  margin-bottom: 20px;
}

h3 {
  color: black;
  margin: 10px;
}

h2 {
  color: black;
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

.boxMain {
  background-color: #f1e04a;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  width: 1200px;
  height: 600px;
  margin: 20px auto;
  box-shadow: 2px 2px 2px;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.carouselBox {
  width: 100%;
  z-index: 1;
  height: 350px;
  /* background-color: green; */
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.carouselInner {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  height: 300px;
  padding: 5px 10px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.22);
  border: 2px solid black;
}

.carouselCard {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  /* box-shadow: 0 4px 8px #000000; */
  text-align: center;
  max-width: 150px;
  margin: 10px 5px;
}

.carouselImage {
  max-width: 120px;
  width: 150px;
  height: 100px;
  object-fit: cover;
  border: 1px solid black;
}

.carouselBtn {
  background-color: #2020cf;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 120px;
  height: 20px;
  border: 1px solid black;
}

.carouselBtnTwo {
  background-color: #2020cf;
  color: white;
  box-shadow: 2px 2px black;
  cursor: pointer;
  margin: auto;
  padding: 10px;
  width: 100px;
}

.viewDetailsBtn {
  background-color: #2020cf;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px black;
  width: 150px;
  height: 50px;
  margin-right: auto;
}

.addBtn {
  background-color: #f1e04a;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px black;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-top: -50px;
}

.openBtn {
  cursor: pointer;
  margin: 20px;
  padding: 10px;
}

.arrowLeft {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 70%;
  right: 78%;
}

.arrowLeft:hover {
  background: none;
  background-color: #f8ec7b;
  border-radius: 8px;
  font-size: 32px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
}

.arrowRight {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  top: 70%;
  right: 78%;
  width: 50px;
  height: 50px;
}
.arrowRight:hover {
  background-color: #f8ec7b;
  border-radius: 8px;
  font-size: 32px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.boxMainTwo {
  width: 1200px;
  height: 900px;
  background-color: white;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: green; */
}

.category {
  width: 300px;
  height: auto;
  /* background-color: green; */
  padding: 10px;
  margin: 0 auto;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.category img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  cursor: pointer;
}

.categoryTitle {
  margin-top: 5px;
  font-size: 18px;
  color: #2020cf;
  text-decoration: none;
  cursor: pointer;
}

.boxMainThree {
  width: 1200px;
  height: auto;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.productCard {
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;

  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  transition: height 0.5s ease;
}

.productBox {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease;
}

.productBox.open {
  height: auto;
  margin: 0 auto;
  /* Allows dynamic height when open, based on content */
}

.productBox.close {
  height: 20px;
}

html {
  scroll-behavior: smooth;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
}

.productDetails h2 {
  margin: 5px 0;
  font-size: 22px;
  color: black;
  text-align: left;
}

.productDetails p {
  margin: 10px 0 20px;
  font-size: 16px;
  color: black;
}

.productDetailsText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
}

.productDetails img {
  max-width: 150px;
  height: 150px;
  object-fit: cover;
}

.price {
  font-size: 25px;
  font-weight: bold;
  color: red;
  text-align: right;
  margin-bottom: 10px;
}

.downArrow {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 24px;
}

.downArrow:hover {
  background-color: #e9e9e9;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -30px;
}

.arrowContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  text-align: right;
}

@media (max-width: 768px) {
  .arrowLeft {
    position: absolute;
    top: 75%; /* Vertically center the arrow */
    left: 5%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .arrowRight {
    position: absolute;
    top: 5%; /* Vertically center the arrow */
    right: 5%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
  }

  .arrowLeft:hover,
  .arrowRight:hover {
    background-color: #e0d761; /* Slightly darker yellow on hover */
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .boxMain,
  .carouselBox,
  .category {
    width: 100%; /* Make items take full width */
    transform: scale(0.9); /* Shrinks the yellow box */
    height: auto; /* Adjust height */
    font-size: 18px;
  }

  .arrowLeft {
    position: absolute;
    top: 70%; /* Vertically center the arrow */
    left: 5%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .arrowRight {
    position: absolute;
    top: 70%; /* Vertically center the arrow */
    right: 5%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .arrowLeft:hover,
  .arrowRight:hover {
    background-color: #e0d761; /* Slightly darker yellow on hover */
  }
  .productDetails img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .productDetails {
    width: 100%;
    max-width: 630px;
    height: auto;
    font-size: 9px;
    background-color: white;
  }
  .productDetailsText {
    width: 100%;
    max-width: 520px;
    margin-top: -100px;
    margin-left: 100px;
    font-size: 18px;
    /* background-color: green; */
  }
  .productDetailsText h2 {
    font-size: 18px;
  }
  .productDetailsText p {
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    /* background-color: pink; */
  }
  .boxMainTwo {
    width: 100%;
    display: grid;
    margin: 20px auto;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .boxMainThree {
    width: 670px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    /* background-color: green; */
    font-size: 9x;
  }

  .productCard {
    width: 100%;
    max-width: 670px;
    margin: 10px auto;
    height: auto;
    /* background-color: green; */
    align-items: center;
    font-size: 17px;
    padding: 10px;
  }

  .category {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .category img {
    width: 100%;
    max-width: 400px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
  }
  .categoryTitle {
    font-size: 23px;
  }
}
@media (min-width: 1200px) {
  .arrowLeft {
    position: absolute;
    top: 85%; /* Vertically center the arrow */
    left: 15%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .arrowRight {
    position: absolute;
    top: 85%; /* Vertically center the arrow */
    right: 15%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .boxMainThree {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    /* background-color: green; */
    font-size: 9x;
  }
  .productDetails img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .productDetails {
    width: 100%;
    max-width: 1100px;
    height: auto;
    font-size: 9px;
    /* background-color: green; */
  }
  .productDetailsText {
    width: 100%;
    max-width: 940px;
    margin-top: -100px;
    margin-left: 100px;
    font-size: 20px;
    /* background-color: green; */
  }
  .productDetailsText h2 {
    font-size: 22px;
  }
  .productDetailsText p {
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    /* background-color: pink; */
  }
}

@media (max-width: 575.98px) {
  .boxMain,
  .carouselBox {
    width: 100%; /* Make items take full width */
    max-width: 500px;
    transform: scale(0.8); /* Shrinks the yellow box */
    height: auto; /* Adjust height */
    font-size: 18px;
    overflow: hidden;
  }
  .category,
  .category img {
    max-width: 200px;
    max-height: 200px;
    margin: 0px;
  }

  .carouselCard {
    max-width: 140px;
  }
  h3 {
    font-size: 19px;
  }

  .viewDetailsBtn {
    background-color: #2020cf;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px black;
    width: 100px;
    height: 30px;
    margin-right: auto;
    font-size: 13px;
  }

  .arrowLeft {
    position: absolute;
    top: 65%; /* Vertically center the arrow */
    left: 2%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .arrowRight {
    position: absolute;
    top: 65%; /* Vertically center the arrow */
    right: 2%; /* Adjust the horizontal position */
    transform: translateY(-50%);
    background-color: #f8ec7b;
    border-radius: 8px;
    font-size: 32px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .arrowLeft:hover,
  .arrowRight:hover {
    background-color: #e0d761; /* Slightly darker yellow on hover */
  }

  .addBtn {
    background-color: #f1e04a;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px black;
    width: 110px;
    height: 40px;
    margin-left: auto;
    margin-top: -40px;
  }
  .productDetails img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .productDetails {
    width: 100%;
    max-width: 330px;
    height: auto;
    font-size: 9px;
    background-color: white;
  }
  .productDetailsText {
    width: 100%;
    max-width: 250px;
    margin-top: -100px;
    margin-left: 100px;
    font-size: 18px;
  }
  .productDetailsText h2 {
    font-size: 18px;
  }
  .productDetailsText p {
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    /* background-color: pink; */
  }
  .boxMainTwo {
    max-width: 500px;
    width: 100%;
    display: grid;
    margin: 20px auto;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .boxMainThree {
    width: 470px;
    height: auto;
    margin: 30px auto;
    padding: 10px;
    align-items: center;
    /* background-color: green; */
    font-size: 9x;
  }

  .productCard {
    width: 100%;
    max-width: 670px;
    margin: 10px auto;
    height: auto;
    /* background-color: green; */
    align-items: center;
    font-size: 17px;
    padding: 10px;
  }
}
